@media (max-width: 740px) {
  body.lock {
    overflow: hidden;
  }
  .header__hamburger {
    width: 32px;
    height: 32px;
    display: block;
    background: transparent;
    border: transparent;
    z-index: 1000;
  }
  .header__hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: rgb(0, 0, 0);
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1882352941);
  }
  .header__hamburger span + span {
    margin-top: 7px;
  }
  .header__hamburger span:nth-child(1) {
    -webkit-animation: ease 0.5s top-back forwards;
            animation: ease 0.5s top-back forwards;
  }
  .header__hamburger span:nth-child(2) {
    -webkit-animation: ease 0.5s middle-back forwards;
            animation: ease 0.5s middle-back forwards;
  }
  .header__hamburger span:nth-child(3) {
    -webkit-animation: ease 0.5s bottom-back forwards;
            animation: ease 0.5s bottom-back forwards;
  }
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background: #fff;
    transition: left 0.5s ease;
    overflow: auto;
  }
  .header__list {
    display: block;
    padding-left: 15px;
    padding-top: 70px;
  }
  .header__list li {
    margin-bottom: 15px;
  }
  .header__list li a {
    font-size: 30px;
  }
  .header__list li:nth-child(6) {
    margin-left: 0;
    margin-top: 50px;
  }
  .header__list li:nth-child(7) {
    font-size: smaller;
  }
  .active .header__menu {
    left: 0;
  }
  .active .header__hamburger span:nth-child(1) {
    -webkit-animation: ease 0.5s top forwards;
            animation: ease 0.5s top forwards;
  }
  .active .header__hamburger span:nth-child(2) {
    -webkit-animation: ease 0.5s middle forwards;
            animation: ease 0.5s middle forwards;
  }
  .active .header__hamburger span:nth-child(3) {
    -webkit-animation: ease 0.5s bottom forwards;
            animation: ease 0.5s bottom forwards;
  }
  .content {
    padding-top: 85px;
  }
}
@-webkit-keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 10px;
    transform: rotate(0);
  }
  100% {
    top: 10px;
    transform: rotate(45deg);
  }
}
@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 10px;
    transform: rotate(0);
  }
  100% {
    top: 10px;
    transform: rotate(45deg);
  }
}
@-webkit-keyframes top-back {
  0% {
    top: 10px;
    transform: rotate(45deg);
  }
  50% {
    top: 10px;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(0);
  }
}
@keyframes top-back {
  0% {
    top: 10px;
    transform: rotate(45deg);
  }
  50% {
    top: 10px;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(0);
  }
}
@-webkit-keyframes middle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes middle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes middle-back {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes middle-back {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 10px;
    transform: rotate(0);
  }
  100% {
    bottom: 10px;
    transform: rotate(-45deg);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 10px;
    transform: rotate(0);
  }
  100% {
    bottom: 10px;
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes bottom-back {
  0% {
    bottom: 10px;
    transform: rotate(-45deg);
  }
  50% {
    bottom: 10px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
@keyframes bottom-back {
  0% {
    bottom: 10px;
    transform: rotate(-45deg);
  }
  50% {
    bottom: 10px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
.header {
  position: relative;
  width: 100%;
}
.header:before {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 100;
}
.header__body {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
}
.header__body li {
  list-style: none;
  margin-right: 15px;
}
.header__list {
  display: flex;
}
.header__link {
  color: rgba(0, 0, 0, 0.882);
}
.header__link:hover {
  color: #df8222;
  transition: 0.5s;
}
.header__menu {
  z-index: 110;
}

* {
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

.logo {
  color: #df8222;
}
.logo:hover {
  color: #000;
  transition: 1s;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.telephone {
  color: rgb(66, 161, 69);
}

aside {
  padding: 63.5px 20px;
  background: url("../img/wallparers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}
aside .container {
  display: flex;
  color: #fff;
}

.left {
  max-width: 200px;
  background: rgba(0, 0, 0, 0.75);
  margin-right: 2em;
  max-height: 500px;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 2.5em;
}

.left-list {
  list-style: none;
}
.left-list li {
  margin-bottom: 2em;
}
.left-list li:first-child {
  margin-top: 2em;
}

.right {
  max-width: 1000px;
  background: rgba(0, 0, 0, 0.75);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5em;
}
.right .right-catalog {
  display: flex;
}
.right .catalog:first-child {
  margin-left: 0;
}
.right .catalog {
  margin-left: 2em;
}
.right .catalog .catalog-card {
  max-width: 300px;
  max-height: 225px;
  background: url("../img/card.jpg");
  background-size: cover;
  border-radius: 50%;
}
.right .catalog .catalog-card img {
  max-width: 100%;
  max-height: 100%;
}
.right .catalog .catalog-text {
  text-align: center;
  padding: 1em;
}
.right .catalog .catalog-text a {
  color: #fff;
}

@media screen and (max-width: 850px) {
  aside .container {
    display: flex;
    flex-direction: column;
  }
  .right .right-catalog {
    display: flex;
    flex-direction: column;
  }
  .catalog {
    justify-self: center;
    align-self: center;
  }
  .catalog .catalog-text {
    margin-top: 1em;
  }
}
.logins {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 32.3em;
  background: rgba(0, 0, 0, 0.631372549);
  padding: 0 3em;
  border-radius: 25px;
}
.login h2 {
  margin-bottom: 1em;
}
.login .input {
  border: 1px black;
  border-radius: 50px;
}
.login .input input {
  padding: 5px 10px;
  border-style: none;
  margin-bottom: 1em;
  border-radius: 15px;
}
.login .btn button {
  padding: 0.5em 1em;
  background: #df8222;
  border-radius: 15px;
  border: none;
}

.delivers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deliver {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  align-items: center;
  padding: 2em;
}
.deliver .lefts {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.631372549);
  padding: 2em;
  border-radius: 25px;
}
.deliver .lefts .item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deliver .lefts .item .items-image {
  width: 5em;
  margin-right: 3em;
}
.deliver .lefts .item .items-image img {
  width: 100%;
}
.deliver .lefts .item .items-name {
  margin-left: 0em;
}
.deliver .lefts .price-counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deliver .lefts .price-counter .counter {
  display: flex;
  border-radius: 25px;
  margin-left: 2em;
}
.deliver .lefts .price-counter .counter .bx {
  background: rgba(255, 255, 255, 0.487);
}
.deliver .lefts .price-counter .counter .bx button {
  background: none;
  border: none;
  padding: 1em 2em;
}
.deliver .lefts .price-counter .counter .bx button:hover {
  cursor: pointer;
}
.deliver .rights {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.631372549);
  padding: 1em;
  border-radius: 25px;
  margin-left: 3em;
}
.deliver .rights .rights-name {
  margin-bottom: 1em;
}
.deliver .rights .rights-prices {
  display: flex;
  justify-content: space-between;
}
.deliver .rights .rights-total {
  margin-top: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.deliver .rights .rights-total .total {
  display: flex;
  justify-content: space-between;
}
.deliver .rights .rights-total .total-btn {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.deliver .rights .rights-total .total-btn button {
  padding: 0.5em 1em;
  border-radius: 25px;
  background: #df8222;
  border: none;
}
.deliver .rights .rights-total .total-btn button:hover {
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .deliver {
    flex-direction: column;
    padding: 0;
    padding-bottom: 4.6em;
  }
  .deliver .rights {
    margin: 0;
    margin-top: 1em;
  }
}
.shop {
  width: 15px;
  height: 15px;
}
.shop img {
  max-width: 5%;
  min-height: 10%;
}

.food {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-form {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.66);
  padding: 1.5em;
  border-radius: 25px;
  justify-self: center;
  align-self: center;
}
.food-form .foodForm {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.food-form .food-form-head {
  margin-bottom: 1.5em;
}
.food-form .food-form-image .currenly {
  display: flex;
  justify-content: space-between;
}
.food-form .food-form-image .change {
  display: flex;
  justify-content: space-between;
}
.food-form .food-form-image .change .changes {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.food-form .food-form-image .change .changes p {
  font-size: xx-small;
}/*# sourceMappingURL=style.css.map */