{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>admin</title>
{% endblock %}

{% block check_user %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'admin' %}" class="header__link log-in">Администрация</a></li>
        <li class="li-link"><a href="{% url 'sign_out' %}" class="header__link log-in">Выход</a></li>
    {% else %}
        <li><a href="{% url 'sign_user' %}" class="header__link log-in">Вход</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<aside class="aside">
    <div class="container delivers">
       <div class="deliver">
        <div class="lefts" style="display: flex; flex-direction: column">
            {% for item in cart %}
            {% with food=item.product %}
            <div class="item">
                <div class="items-image" style="margin-right: 90px;">
                    <img src="{{ food.image.url }}" alt="">
                </div>
                <div class="items-name" style="margin-right: 20px;">
                    <h3>{{ food.name }}</h3>
                </div>
            </div>
            <div class="price-counter">
                <div class="counters-price">
                    <h6>{{ food.price }} сом</h6>
                </div>
                <form action="{% url 'cart:cart_add' food.id %}" method="POST" style="margin-left: 30px;">
                    {% csrf_token %}
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    <input type="submit" value="Обновить" style="padding: 5px; background: #df8222; border-radius: 15px; border: none;">
                </form>
                <div class="total-price">
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
        <div class="rights ">
            <div class="rights-name">
                <h4>Сводная информация</h4>
            </div>
            <div class="rights-total">
                <div class="total">
                    <h5>Итог:</h5>
                    <h5>{{ cart.get_total_price }}</h5>
                </div>
                <div class="total-under">
                    <h6>( Без учета стоимости доставки )</h6>
                </div>
                <form action="{% url 'order' %}">
                    <div class="total-btn">
                        <button type="submit">
                            Разместить заказ
                        </button>
                    </div>
                </form>
                <form action="{% url 'cart:cart_clear'  %}">
                    <div class="total-btn">
                        <button type="submit">
                            Отменить
                        </button>
                    </div>
                </form>
            </div>
        </div>
       </div>
    </div>
</aside>
{% endblock %}