{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Update</title>
{% endblock %}

{% block check_user %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'admin' %}" class="header__link log-in">Администрация</a></li>
        <li class="li-link"><a href="{% url 'sign_out' %}" class="header__link log-in">Выход</a></li>
        {% if orders %}
        <li class="li-link"><a href="{% url 'new_orders' %}" class="header__link log-in" style="color: red;">Новые заказы</a></li>
        {% endif %}
        <li><a href="{% url 'orders_history' %}" class="header__link log-in">История заказов</a></li>
    {% else %}
        <li><a href="{% url 'sign_user' %}" class="header__link log-in">Вход</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<aside>
    <div class="container">
        <div class="food-form">
            <form action="{% url 'update_dood' food.id %}" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div>
                    <div>
                        <h3>Изменить</h3>
                    </div>
                    <div>
                        <h5>Название:</h5>
                        <input type="text" name="name" value="{{ food.name }}">
                    </div>
                    <div>
                        <h5>Тип блюда:</h5>
                        <select name="type" required>
                            {% for type in food_types %}
                            <option value="{{ type.id }}" {% if type == food.type %}selected{% endif %} name="city">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <h5>Фото:</h5>
                        <div class="image-food-form">
                            <div class="change">
                                <h6>Change:</h6>
                                <div class="changes">
                                    <input type="file" name="image" placeholder="" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h5>Состав:</h5>
                        <input type="text" name="compound" value="{{ food.compound }}">
                    </div>
                    <div>
                        <h5>Вес:</h5>
                        <input type="text" name="weight" value="{{ food.weight }}">
                    </div>
                    <div>
                        <h5>Цена:</h5>
                        <input type="text" name="price" value="{{ food.price }}">
                    </div>
                    <br>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">
                            Обновить
                        </button>
                        <a href="{% url 'delete_food' food.id %}" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</aside>
{% endblock %}
