{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>index</title>
{% endblock %}

{% block check_user %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'admin' %}" class="header__link log-in">Администрация</a></li>
        <li class="li-link"><a href="{% url 'sign_out' %}" class="header__link log-in">Выход</a></li>
    {% else %}
        <li><a href="{% url 'sign_user' %}" class="header__link log-in">Вход</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<aside class="aside">
    <div class="container">
        <div class="left " style="padding: 0 2em 0;">
            <ul class="left-list" style="padding: 0;">
                {% for type in types %}
                <li>
                    <a class="li-link" href="{% url 'sort' type.id %}">{{ type.name }}</a>
                </li>
                {% endfor %}
                <li>
                    <a class="li-link" href="{% url 'drinks' %}">Напитки</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="right-catalog">
                <div class="row">
                    {% for food in foods %}
                    <div class="col-md-3">
                        <div class="catalog">
                            <div class="catalog-card">
                                <a href="#"><img src="{{ food.image.url }}" alt=""></a>
                            </div>
                            <div class="catalog-text">
                                <a href="#"><h3>{{ food.name }}</h3></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</aside>
<nav>

</nav>
{% endblock %}
